@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

.off {
    width: 100%;
    text-align: end;
    font-size: 35px;
    color: #fff;
    margin-top: -47px;
}

.off:hover {
    cursor: pointer;
    text-shadow: 0 0 20px rgb(128, 9, 0);
}
h1 {
    color: #fff;
    text-shadow: 0 0 20px green;
}
.bienvenido {
    color: #fff;
    text-align: center;
    font-size: 25px ;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:  #0b1721;
}

.container {
    height: 90%;
    width: 90%;
    background-color: #0b1721;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 90%;
    width: 90%;
    background-color: #0b1721;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index2 {
    height: 90%;
    width: 90%;
    background-color: #0b1721;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

.caja1 {
    margin-bottom: 30px;
}

.caja2, .caja3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%; 
    flex-wrap: wrap;
   
}

.cajita-a, .cajita-b, .cajita-c, .cajita-d {
    width: 400px;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0b1721;
   
   
    
}




.cajita-a div, .cajita-b div, .cajita-c div, .cajita-d div {
    width: 100%;
    height: 90%;
   
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.cajita-a div:hover, .cajita-b div:hover, .cajita-c div:hover, .cajita-d div:hover {
    color: #168C00;
    background: #59FF3A;
    box-shadow: 0 0 10px #59FF3A, 0 0 40px #59FF3A, 0 0 10px #59FF3A;
    cursor: pointer;
}

.caja4 {
    width: 100%;
    text-align: end;
    color: #fff;
    cursor: pointer;
    
}

.saldo-h3 {
    color : #fff;
    font-size: 25px;
}

.cbu-h3 {
    color: #fff;

}

.content__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#cuenta-propia-form {
    width: 100%;
   
    
}

.p-form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    
}




.p-form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top:13px ;
    border : none;
    outline: 0px;
}

.p-form input:visited {
    background: chartreuse;
}

.p-form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}


.p-form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece; 
    transform: translateX(-100%);
    transition: all 0.3s ease;
}



.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}

.p-form input:focus + .lbl-nombre .text-nomb, .p-form input:valid + .lbl-nombre .text-nomb  {
    transform: translateY(-150%);
    font-size: 14px;
    color: #2ecece;
}

.p-form input:focus + .lbl-nombre:after,.p-form input:valid + .lbl-nombre:after {
    transform: translateX(0%);
}


#login-error {
    color: red;
}

button {
    width: 40%;
    margin:  30px auto;
    background-color:#314b4078;
    outline: none;
    border-radius: 5px;
    color: #fff;
    line-height: normal;

}

.span {
    color : #fff;
    text-align: end;
    margin-top: 30px;
}

.span a{
    color: rgb(184, 240, 170);
    text-shadow: 0 0 20px green;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .content {
        width: 100%;
    }

    .off {
      
        font-size: 25px;
        
    }
}

